/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: QuickSand-Regular;
  src: url('../fonts/quicksand/Quicksand-Regular.otf'); 
}

@font-face {
  font-family: QuickSand-Bold;
  src: url('../fonts/quicksand/Quicksand-Bold.otf'); 
}

@font-face {
  font-family: Opensans-Regular;
  src: url('../fonts/opensans/OpenSans-Regular.ttf'); 
}
.footer {
  background-color: #f9ca48;
  height: 246px;
  color: #ffffff;
  
}
.footer h1{
  font-family: Quicksand;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -2.52px;
  padding-top: 50px;
  padding-left: 99px;
}
.footer h3{
  padding-left: 149px;
  padding-top: 20px;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.nama-developer{
  padding-left: 199px;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}