/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: QuickSand-Regular;
  src: url('../fonts/quicksand/Quicksand-Regular.otf'); 
}

@font-face {
  font-family: QuickSand-Bold;
  src: url('../fonts/quicksand/Quicksand-Bold.otf'); 
}

@font-face {
  font-family: Opensans-Regular;
  src: url('../fonts/opensans/OpenSans-Regular.ttf'); 
}