<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Mahasiswa</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/navbar/navbar.css">
    <link rel="stylesheet" href="../../css/navbar/sidebar.css">
    <link rel="stylesheet" href="../../css/mahasiswa/tahapanPkm.css">
    <link rel="stylesheet" href="../../css/mahasiswa/akun_simbelmawa.css">
    <script src="https://kit.fontawesome.com/3d79b0331b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="nav-container">
        <!-- Start Navbar -->
        <nav class="navbar navbar-expand-lg">
            <a class="nav-brand" href="../../index.html">PKM UNPAD</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="../../alur.html" class="nav-link">Alur</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../table.html" class="nav-link">Reviewer</a>
                    </li>
                    <li class="nav-item">
                        <a href="../../berkas.html" class="nav-link">Berkas</a>
                    </li>
                    <div class="dropdown show d-flex align-items-center">
                        <a class="btn btn-dropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="profile.html">Ibnu, Mahasiswa</a>
                            <a class="dropdown-item" href="../index.html">Logout</a>
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
        <!-- End Navbar -->
    </div>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li>
                    <a href="profile.html">Profile</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tahapan
                        PKM</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="kosultasi_dosbim.html">Konsultasi Dosen Pendamping</a>
                        </li>
                        <li>
                            <a href="upload_proposal.html">Upload Proposal</a>
                        </li>
                        <li>
                            <a href="coaching.html">Coaching Dosen Reviewer</a>
                        </li>
                        <li>
                            <a href="upload_final.html">Upload Proposal Final</a>
                        </li>
                        <li class="active">
                            <a href="akun_simbelmawa.html">Akun Simbelawa</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <!-- Container -->
            <div class="container">
                <ul class="timeline-horizontal" id="timeline">
                    <li class="li">
                        <div class="icon-alur-container text-center konsultasiDosen">
                            <img src="../../img/kosuldosbim.png" alt="Konsultasi Dosen">
                            <br>
                            <span class="status done-status">Konsultasi <br> Dosen <br> Pendamping</span>
                        </div>
                    </li>
                    <li class="li">
                        <div class="icon-alur-container text-center uploadProposal">
                            <img src="../../img/uploadProposal.png" alt="Upload Proposal">
                            <br>
                            <span class="status done-status">Upload Proposal</span>
                        </div>
                    </li>
                    <li class="li">
                        <div class="icon-alur-container text-center coaching">
                            <img src="../../img/coaching.png" alt="Coachings">
                            <br>
                            <span class="status done-status">Coaching</span>
                        </div>
                    </li>
                    <li class="li">
                        <div class="icon-alur-container text-center uploadFinal">
                            <img src="../../img/uploadFinal.png" alt="Upload Finals">
                            <br>
                            <span class="status done-status">Upload Final</span>
                        </div>
                    </li>
                    <li class="li">
                        <div class="icon-alur-container text-center akun">
                            <img src="../../img/akunSibelmawa.png" alt="Akun Simbelmawa">
                            <br>
                            <span class="status active-status">Akun</span>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End Contanier -->
            <div class="container container-akun-simbelmawa">
                <div class="akun-simbelmawa">
                    <div class="row status-header">
                        <div class="col-md-4">
                            <h5>Akun Simbelmawa</h5>
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>

                    <p>Selamat anda sudah menyelesaikan semua tahap PKM UNPAD 2021. Bagi proposal yang dirasa layak oleh
                        pihak reviewer akan mendapatkan username dan password pada tanggal 2 November 2020 untuk
                        nantinya dapat didaftarkan ke simbelmawa.</p>

                        <!-- <table class="info-akun">
                            <tr>
                                <td>Username:</td>
                                <td>ibnumualim12345</td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td>2384832hrjfewur</td>
                            </tr>
                        </table> -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <h1>PKM UNPAD</h1>
        <h3>Dibuat Oleh</h3>
        <div class="row nama-developer">
            <div class="col-md-2">
                <h4>Intan Pratiwi</h4>
            </div>
            <div class="col-md-3">
                <h4>Mochamad Fa'izin Ahsan</h4>
            </div>
        </div>
    </div>

    <script src="../../js/jquery.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
    </script>
    <script src="../../js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });
    </script>
</body>

</html>