.container-dosen-reviewer{
    margin-left: 101px;
    margin-top: 90px;
}
.container-dosen-reviewer h3{
    color: #f9ca48;
    font-family: Opensans-Semibold;
}
.dosen-reviewer {
    min-width: 835px;
    min-height: 200px;
    background-color: #ffffff;
    margin-top: 22px;
    font-family: Opensans-Regular;
    /* margin-left: 90px; */
}
.dosen-reviewer h5{
    font-size: 18px;
}
.status-header{
    padding-top: 50px;
    padding-left: 47px;
}
.info-dosen{
    margin-left: 50px !important;
    margin-top: 52px;
}
.info-dosen td{
    padding-right: 50px !important;
    font-size: 16px;
}

.form-bimbingan{
    margin-left: 50px;
    margin-top: 25px;
    padding-bottom: 15px;
}
.form-group{
    margin-bottom: 50px !important;
}

.form-control:focus{
    border-color: #f9ca48;  box-shadow: none; -webkit-box-shadow: none;
  }
  .has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}

  .hasil-diskusi{
      margin-left: 50px;
      margin-top: 30px;
      margin-right: 50px;
      max-width: 835px;

  }
/* Upload File Revisi */

  .container-upload-revisi {
    /* min-width: 900px; */
    /* min-height: 793px; */
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 60px;
    /* margin-left: 110px; */
}

.container-upload-revisi h5 {
    font-family: Opensans-Reguler;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-top: 51px;
    padding-left: 50px;
}

/* Upload File */
.button {
    background: rgba(249, 202, 72, 0.6);;
    border: none;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 19px;
    letter-spacing: 0.02em;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
}


input[type="file"] {
    display: none;
}

#file-drag {
    border: 2px dashed #555;
    border-radius: 7px;
    color: #565656;
    background-color: #f9f9f9;
    cursor: pointer;
    display: block;
    margin: 1em 0;
    padding: 3em;
    text-align: center;
    transition: background 0.3s, color 0.3s;
    font-size: Opensans-Reguler;
    /* min-width: 800px; */
    /* min-height: 327px; */
}

#file-drag:hover {
    background: #ddd;
}

#file-drag:hover,
#file-drag.hover {
    border-color: #f9ca48;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
    color: #565656;

}

#file-progress {
    display: none;
    margin: 1em auto;
    width: 100%;
}

#file-upload-btn {
    margin: auto;
}

#file-upload-btn:hover {
    background:  #f9ca48;
}

#file-upload-form {
    margin: auto;
    width: 60%;
}

progress {
    appearance: none;
    background: #eee;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    height: 30px;
}

progress[value]::-webkit-progress-value {
    background:
        -webkit-linear-gradient(-45deg,
            transparent 33%,
            rgba(0, 0, 0, .2) 33%,
            rgba(0, 0, 0, .2) 66%,
            transparent 66%),
        -webkit-linear-gradient(right,
            #005f95,
            #07294d);
    background:
        linear-gradient(-45deg,
            transparent 33%,
            rgba(0, 0, 0, .2) 33%,
            rgba(0, 0, 0, .2) 66%,
            transparent 66%),
        linear-gradient(right,
            #005f95,
            #07294d);
    background-size: 60px 30px, 100% 100%, 100% 100%;
    border-radius: 3px;
}

progress[value]::-moz-progress-bar {
    background:
        -moz-linear-gradient(-45deg,
            transparent 33%,
            rgba(0, 0, 0, .2) 33%,
            rgba(0, 0, 0, .2) 66%,
            transparent 66%),
        -moz-linear-gradient(right,
            #005f95,
            #07294d);
    background:
        linear-gradient(-45deg,
            transparent 33%,
            rgba(0, 0, 0, .2) 33%,
            rgba(0, 0, 0, .2) 66%,
            transparent 66%),
        linear-gradient(right,
            #005f95,
            #07294d);
    background-size: 60px 30px, 100% 100%, 100% 100%;
    border-radius: 3px;
}