.container-akun-simbelmawa{
    margin-left: 101px;
    margin-top: 90px;
}
.container-akun-simbelmawa h3{
    color: #f9ca48;
    font-family: Opensans-Semibold;
}
.akun-simbelmawa {
    min-width: 835px;
    min-height: 200px;
    background-color: #ffffff;
    margin-top: 22px;
    font-family: Opensans-Regular;
    /* margin-left: 90px; */
}
.akun-simbelmawa h5{
    font-size: 24px;
    color: #f9ca48;
    font-family: Opensans-Semibold;
}

.akun-simbelmawa p{
    width: 684px;
    height: 107px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #000000;
    margin-left: 108px;
    margin-top: 41px;
}

.status-header{
    padding-top: 50px;
    padding-left: 47px;
}

.info-akun{
    margin-left: 50px !important;
    margin-top: 40px;
}

.info-akun td{
    font-family: Opensans-Bold;
    padding-right: 50px !important;
    padding-bottom: 20px !important;
    font-size: 16px;
}
