.container-konsultasi-dosen{
    margin-left: 101px;
    margin-top: 90px;
}
.container-konsultasi-dosen h3{
    color: #f9ca48;
    font-family: Opensans-Semibold;
}
.dosen-pendamping {
    min-width: 835px;
    min-height: 200px;
    background-color: #ffffff;
    margin-top: 22px;
    font-family: Opensans-Regular;
    /* margin-left: 90px; */
}
.dosen-pendamping h5{
    font-size: 18px;
}
.status-header{
    padding-top: 50px;
    padding-left: 47px;
}
.info-dosen{
    margin-left: 50px !important;
    margin-top: 52px;
}
.info-dosen td{
    padding-right: 50px !important;
    font-size: 16px;
}
.form-bimbingan{
    margin-left: 50px;
    margin-top: 25px;
    padding-bottom: 15px;
}
.form-group{
    margin-bottom: 50px !important;
}

.form-control:focus{
    border-color: #f9ca48;  box-shadow: none; -webkit-box-shadow: none;
  }
  .has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}

  .hasil-diskusi{
      margin-left: 50px;
      margin-top: 30px;
  }