body {
    background-color: #fafbfc;
}

.timeline-horizontal {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #D6DCE0;
    /* border: 2px solid red; */
    margin-left: 16.65%;
    margin-right: 16.65%;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
    .timeline-horizontal {
        list-style-type: none ;
        display: block;
    } 
    .li {
        transition: all 200ms ease-in;
        display: flex;
        width: inherit;
    }
}

.icon-alur-container {
    margin-top: 55px;
    padding-right: 100px;
    font-family: Opensans-Bold, 'sans-serif';
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f9ca48;

    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    /* margin-left: -70px;
    margin-right: 90px; */
}
.status{
    min-height: 85px;
}
/* .status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    left: 42%;
    bottom: -15px;
    transition: all 200ms ease-in;
  } */
.li{
    /* max-width: 166px; */
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 200ms ease-in;
}

.status:before{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 20%;
    bottom: -35px;
    transition: all 200ms ease-in;
}
.active-status:before{
    background-color: #f9ca48;
    border-radius: 50%;
    color: #fff !important;
}
.disabled-status:before{
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #cecece;
    color: #cecece !important;
}
.done-status:before{
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f9ca48;
    color: #f9ca48 !important;
}
.konsultasiDosen .status:before{
    content: "1";
    padding-top: 15px;
}
.uploadProposal .status:before{
    content: "2";
    padding-top: 15px;
}
.coaching .status:before{
    content: "3";
    padding-top: 15px;
}
.uploadFinal .status:before{
    content: "4";
    padding-top: 15px;
}
.akun .status:before{
    content: "5";
    padding-top: 15px;
}
.icon-alur-container img {
    margin-bottom: 10px;
}

.elipse {
    margin-left: 40px;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: #f9ca48;
    border: solid 5px #f9ca48;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    font-size: 24px;
}